<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" href="static/libs/normalize.min.css" />
    <link rel="stylesheet" href="static/libs/materialize.min.css">
    <link rel="stylesheet" href="static/libs/animate.min.css">

    <link rel="stylesheet" type="text/css" href="static/css/app.css" />
</head>
<body>
    <!-- content -->

    <div style="margin: 10px;">
      <!-- Content here -->
    <div ng-app="myApp" ng-controller="myCtrl">
     <div class="row">
        <div class="col s7">

          <div class="animated card {{ question_state }}" ng-if="finished">
              <div class="card-content white-text" role="alert">
                  <h4> ПОЗДРАВЛЕНИЯ!!  <h4>
                  <h5>Вы успешно выполнили это упражнение.</h5>
		  <iframe ng-src="{{ feedback_url }}" width="640" height="1155" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
              </div>
            </div>

            <div class="animated card {{ question_state }}" ng-if="!finished">
                <div class="card-content white-text" role="alert">
                    <div class="card-title"> {{ current_question_number + 1 }} / {{ total_questions }} {{ current_question.title }}
                      <button ng-if="!correct_answer" ng-class="{disabled: lastQuestion}"  ng-click="nextQuestion()" type="button" class="waves-effect waves-light btn-floating right"> > </button>
                      <button ng-if="!correct_answer" ng-class="{disabled: current_question_number < 1}" ng-click="previousQuestion()" type="button" class="waves-effect waves-light btn-floating right"> < </button>
                    </div>

                    <p ng-bind-html="current_question_text"></p>
                    <p ng-bind-html="current_question_subText"></p>

                    <div ng-if="current_question_type == 'multiple_choice'">
                      <button ng-repeat="option in current_question.options" ng-click="checkAnswer(option)" type="button" class="animated zoomIn waves-effect waves-light btn delay-{{ $index }}00ms" style="margin: 10px;"> {{ option }} </button>

                      <div class="animated card pink darken-1 white-text" ng-show="show_hint && current_question.question">
                          <div class="card-content">
                           <b>Подсказка:</b>

                          <p ng-bind-html="current_question_hint"></p>

                          </div>
                      </div>

                    </div>

                    <div class="card-action" style="min-height: 69px;">
                      <button ng-if="correct_answer" ng-click="nextQuestion()" type="button" class="animated zoomIn waves-effect waves-light btn right"> Верно! Следующий > </button>
                      <button ng-if="!correct_answer" ng-click="showSolution()" class="waves-effect waves-light btn right"><span ng-if="!showSolutionFlag">Показать решение</span> <span ng-if="showSolutionFlag">Убрать решение</span></button>
                    </div>
                </div>
            </div>

                <div ng-show="current_question_type != 'multiple_choice'">
                    Твой ответ:
                    <div id="editor">
                    </div>
                </div>



                <p ng-show="showSolutionFlag">Решение: </p>
                <div ng-show="showSolutionFlag" id="solutionEditor">
                </div>

        </div>

        <div class="col s5" ng-show="current_question_type != 'multiple_choice'">

            <p>Вывод, основанный на твоем JSON-Path запросе:</p>
            <div id="sampleViewerEditor">
            </div>

        </div>

      </div>


        <div class="row">

        </div>

        <div class="row">

          <div class="col s7">
            <h5>Source Data: </h5>
            <div id="sourceDataEditor">
          - apple
          - apple
          - mango
            </div>
          </div>

          <div class="col s5" ng-show="current_question_type != 'multiple_choice'">
            <h5>Ожидеаемый вывод: </h5>
            <div id="outputDataEditor">
            </div>
            <!-- <button ng-if="!correct_answer" ng-click="resetAnswer()" type="button" class="waves-effect waves-light btn red">Reset Answer</button> -->
          </div>

        </div>

      </div>

    </div>



    <!-- dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>	
	
    <script src="static/libs/jquery.min.js"></script>
    <script src="static/libs/materialize.min.js"></script>
    <script src="static/libs/lodash.min.js"></script>
    <script src="static/libs/angular.min.js"></script>
    <script src="static/libs/yaml.min.js"></script>
    <script src="static/libs/jsonpath-0.8.0.js"></script>

    <!-- questions & code -->
    <script src="static/questions/json_path1.js"></script>
    <script src="static/questions/json_path2.js"></script>
    <script src="static/questions/json_path3.js"></script>
    <script src="static/questions/json_path_kube1.js"></script>
    <script src="static/questions/json_path_kube2.js"></script>
	     
    <script src="static/questions/questions.js"></script>
    <script src="static/js/ace-editor.js"></script>

</body>
</html>
