body {
      background-size: cover;
      background-position: center;
      background-color: #ffffff;
      background-repeat: no-repeat;
}

.dict {
    # background: #00800040;
    # border: green;
    # border-width: 2px;
    # border-style: solid;
    padding: 5px;
    margin: 5px;
    min-width: 150px;
    display: inline-block;
}

.property {
    background: #80000040;
    border: red;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    min-width: 150px;
    display: inline-block;
}

.string {
    # background: #80800040;
    # border: red;
    # border-width: 1px;
    # border-style: solid;
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    display: inline-block;
}

.array {
    # background: #00008040;
    # border: blue;
    # border-width: 2px;
    # border-style: solid;
    padding: 5px;
    margin: 5px;
    min-width: 150px;
}

.inblock {
    padding: 5px;
    margin: 5px;
    display: inline-block;

}

#editor {
        height: 25px;
        width: 100%;
        font-size: 16px;
    }

#solutionEditor {
        height: 50px;
        width: 100%;
        font-size: 16px;
    }

#sourceDataEditor {
        height: 500px;
        width: 100%;
        font-size: 16px;
    }

#outputDataEditor {
  height: 500px;
  width: 100%;
  font-size: 16px;
}

#sampleViewerEditor {
  height: 200px;
  width: 100%;
  font-size: 16px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
    min-width: 150px;
}


code {
    color: #3ddcf1;
}


.row {
  margin-bottom: 0px;
}

.h5 {
  margin-top: 0px;
}


.myMarker {
  position:absolute;
  background:rgba(100,200,100,0.5);
  z-index:20
}


.animated.delay-100ms {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}


.animated.delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animated.delay-300ms {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animated.delay-400ms {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.animated.delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animated.delay-600ms {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.animated.delay-700ms {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
